@media (max-width: 1000px) {
    .menu-block {
       width: 85%;
       height: 50px;
    }

    .logo-left {
        background-image: url("../images/25_100.png");
        width: 100px;
        height: 26px;
        line-heigth: 26px;
        margin-top: 12px;
        margin-left: 30px;
    }

    .menus li {
        padding: 0px 8px;
        height: 50px;
        line-height: 50px;
    }

    .menus li:hover {
        background-color: rgba(71, 93, 190, 0.8);
        color: white;
        transition: .5s;
    }

    .card-1, .card-2, .card-3, .card-4, .card-5 {
        width: 30%;
        margin-top: 25px;
    }

    .main-background {
        height: 160vh;
    }
}

@media (max-width: 670px) {
    body {
        padding: 0px 0px;
    }

    /* HEADER */
    .menu-block {
        height: 40px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 100%;
    }

    .logo-left {
        background-image: url("../images/25_100.png");
        width: 100px;
        height: 26px;
        height: 26px;
        line-heigth: 26px;
        margin-top: 7px;
        margin-left: 30px;
    }

    .menu-right {
        display: none;
    }

    .icon-right {
        display: block;
        float: right;
        font-size: 25px;
        margin-right: 35px;
        margin-top: 5px;
    }

    .main-cover-text {
        font-size: 30px;
    }

    .sub-cover-text {
        font-size: 18px;
        letter-spacing: 6px;
    }

    /* MAIN */
    /* Top */
    .main-top {
        padding: 0 10px;
    }

    /* Card */
    .main-background {
        height: 300vh;
    }

    .main-row-1 {
        text-align: center;
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
    }

    .image-row-1 {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        margin-top: 80px;
    }

    .image-row-1 img {
        margin: 0 auto;
    }

    .cards {
        margin: 0 auto;
        padding: 0 35px;
    }

    .card-1, .card-2, .card-3, .card-4, .card-5 {
        width: 100%;
        margin-top: 25px;
    }
    
    input, textarea {
        width : 50px;
    }
}
