* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0 30px;
}

span, p, h1, h2, li {
    font-family: 'Ubuntu', sans-serif;
    font-weight: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

/* HEADER */
.cover-image {
    background-image: linear-gradient(
        to right bottom,
    rgba(38, 0, 255, 0.5),
    rgba(37, 37, 37, .9)),
    url("../images/mac.jpg");
    background-size: cover;
    background-position: top;
    height: 97vh;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.menu-block {
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    height: 65px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    border-bottom: 20px;
    padding: 0 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 10;
}

.logo-left {
    background-image: url("../images/25_150.png");
    background-size: cover;
    width: 150px;
    height: 39px;
    float: left;
    height: 39px;
    line-height: 39px;
    margin-top: 13px;
    margin-left: 35px;
}

/* .login-right {
    float: right;
    height: 65px;
    line-height: 65px;
    padding: 0px 25px;
    background-color: rgba(77, 77, 77, 0.8);
    color: white;
    cursor: pointer;
} */

.icon-right {
    display: none;
}

.menu-right {
    float: right;
    margin-right: 50px;
}

.menus li {
    display: inline-block;
    padding: 0px 20px;
    height: 65px;
    line-height: 65px;
    margin: 0px;
    cursor: pointer;
    color: black
}

.menus li:hover {
    background-color: rgba(71, 93, 190, 0.8);
    color: white;
    transition: .5s;
}

.cover-text {
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;
}

.main-cover-text {
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 12px;
    margin-bottom: 20px;
    font-weight: none;

    animation-name: move-left;
    animation-duration: 2s;
}

.sub-cover-text {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: none;
    letter-spacing: 11px;

    animation-name: move-up;
    animation-duration: 1s;
}

@keyframes move-left {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        opacity: 0.6;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes move-up {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn span {
    padding: 10px 10px;
    display: block;
    background-color: #fff;
    cursor: pointer;
    color: black;

    margin-top: 70px;
    box-shadow: 0 7px rgba(77, 77, 77, 0.8);
}

.btn span:hover {
    background-color: black;
    color: white;
}

.btn span:active {
    box-shadow: none;
    top: 7px;
    position: relative
}

/* MAIN */
/* Top */
main {
    margin-top: 50px;
}

.row-wrapper h2 {
    margin-bottom: 35px;
    text-align: center;
}

.main-column-1 {
/*     float: left; */
    width: 100%;
    margin-right: 4%;
    margin-bottom: 10px;
    position: relative;
}
.main-column-2 {
    float: right;
    width: 48%;
    margin-left: 10%;
    margin-bottom: 10px;
    position: relative;
}
.image-column-1 {
    float: center;
    width: 50%;
    position: relative;
    margin: 0 auto;
}

.image-column-2 {
    float: center;
    width: 25%;
    position: relative;
    margin: 0 auto;
}

/* Middle */
.main-background {
    background-image: linear-gradient(
        to right bottom,
    rgba(37, 37, 37, .9),
    rgba(38, 0, 255, 0.5)),
    url("../images/laptop.jpg");
    height: 97vh;
    background: cover;
    transform: skewY(-7deg);
    margin-top: 550px;
}

.cards {
    transform: skewY(7deg);
    margin-top: 100px;
    text-align: center;
}

.card-1 {
    background-color: rgba(255, 255, 255, 0.7);
    float: left;
    width: 18%;
    height: 50vh;
    display: inline-block;
    margin: 0 1%;
}

.cards h2 {
    color: white;
    margin-bottom: 15px;
}

.cards h3 {
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

.medsos {
    margin-top: 2px;
}

.medsos .fa {
    font-size: 28px;
}

/* @keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
} */

.card-image .fa {
    font-size: 200px;
    /* background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}

.fa-facebook {
    color: rgb(15, 24, 153);
}

.fa-twitter {
    color: rgb(2, 156, 177);
}

.fa-instagram {
    color: rgb(202, 58, 183);
}

.fa-youtube {
    color: rgb(201, 0, 0);
}

/* Main table
.main-table {
    margin-top: 100px;
    text-align: center;
    left: 50%;
    translate: transform(-50%, -50%);
}

.main-table h2 {
    margin-bottom: 35px;
}
 */

/* Form */
.contact-form {
    margin: 120px 0 0 30px;
}

input, textarea {
    width : 400px;
    margin-top : 10px;
    margin-bottom : 30px;
    padding : 20px;
    font-size : 18px;
    border : 1px solid #dee7ec;
}
  
.contact-submit {
    background-color : #dee7ec;
    color : #889eab;
}

/* FOOTER */
footer {
    background-color: rgb(43, 43, 43);
    height: 5vh;
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 12px;
}

.footer-text {
    top: 1%;
    left: 50%;
    translate: transform(-50%, -50%);
}

